body {
    background-color:#000;
}
h1 {
    color: #990000;
    text-align: center;
    font-size:300%;

}
.TextBox {
    float: left;
    text-align: left;
    color: grey;
    width: 50%;
    border: solid 2px;
    height: 800px;
}
.RunB {
    width:40%;
    border: solid 2px;
    border-radius: 5px;
    margin: 5%;
    height: 5%;
}
#InputField {
    width: 98%;
    height: 10%;
    margin-left: 1%;
}
#AnsagenListe {
    list-style-type: none;
    margin-left: -5%;
}
#Ansage {
    margin-top: 2%;
}
#Buttons {
    width: 100%;
    height: 30%;
}
.TextSection {
    height: 60%;
}